<PageHeader BackIcon="true" OnBack="RedirectBack" Class="site-page-header">
    <PageHeaderTitle>TASK BOOK</PageHeaderTitle>
    <PageHeaderSubtitle>This is a task book</PageHeaderSubtitle>
    <PageHeaderExtra>
        <Paragraph>
            @if (UserName == "Anonymous (Anonymous)")
            {
                @($"Hello, {UserName}!")
            }
            else
            {
                <Button OnClick="ShowUserProfile" Type="@ButtonType.Link">
                    @($"Hello, {UserName}!")
                </Button>
            }
        </Paragraph>
        <a href="@($"Logout")">LOGOUT</a>
    </PageHeaderExtra>
</PageHeader>