@inherits LayoutComponentBase

<TaskNinjaHub.WebClient.Components.Header />
<br />
<main> @Body </main>

@code
{
    [Inject]
    private IUserProviderService UserProviderService { get; set; } = null!;

    [Inject]
    private AuthorService AuthorService { get; set; } = null!;

    [Inject]
    private IMessageService MessageService { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await UserProviderService.GetUser();

        if (UserProviderService.User != null)
        {
            var response = await AuthorService.CreateAsync(UserProviderService.User);

            if (response.IsSuccessStatusCode)
                await MessageService.Success("Add new author");
            else
                Console.WriteLine(response.ReasonPhrase);
        }
    }
}
